## Solution A1~: MariaDB connection and ET

In [49]:
# - - - Import necessary libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import count, sum, max
from pyspark.sql import functions as F

In [50]:
# - - - Spark session creation - with JDBC driver path configuration

# Application details
appName = "App A1~: MariaDB connection and ET"
master = "local"
jdbc_driver_path = "C:/Spark/spark-3.5.1-bin-hadoop3/jars/mariadb-java-client-3.4.0.jar"
jdbc_driver_path = "E:/Software_Lenovo/Development_Softwares/MariaDB_Spark/Microsoft JDBC Driver for SQL Server/sqljdbc_12.6.3.0_enu/sqljdbc_12.6/enu/jars/mssql-jdbc-12.6.3.jre8.jar"


# Create Spark session
spark_session = SparkSession.builder \
    .appName(appName) \
    .master(master) \
    .config("spark.driver.extraClassPath", jdbc_driver_path) \
    .config("spark.driver.extraClassPath", jdbc_driver_path) \
    .getOrCreate()

print("Details of the Spark session:")
print("Spark:", spark_session, "\n", "Spark version:", spark_session.version, "\n", "SparkContext:", spark_session.sparkContext, "\n", "SparkContext version:", spark_session.sparkContext.version)

Details of the Spark session:
Spark: <pyspark.sql.session.SparkSession object at 0x0000017CF3EB72C0>
 Spark version: 3.5.1
 SparkContext: <SparkContext master=local appName=App A1~: MariaDB connection and ET>
 SparkContext version: 3.5.1

In [51]:
# - - - Read data from MariaDB using JDBC - Create DataFrame

# JDBC connection details (Parameters)
server = "localhost"
port = 3306
database = "nyse_db1_bdtt2"
jdbc_url = f"jdbc:mysql://{server}:{port}/{database}?permitMysqlScheme"
db_properties = {
    "user": "root",
    "password": "MMdd1234",
    "driver": "org.mariadb.jdbc.Driver"
}

# SQL query
sql = "select * from stock_prices_nyse"

# Read data from MariaDB using JDBC with properties dictionary
df1_nyse = spark_session.read.format("jdbc") \
    .option("url", jdbc_url) \
    .option("query", sql) \
    .option("user", db_properties['user']) \
    .option("password", db_properties['password']) \
    .option("driver", db_properties['driver']) \
    .load()

In [52]:
print("Information about the DataFrame - Schema:", df1_nyse.printSchema())

root
 |-- date: date (nullable = true)
 |-- symbol: string (nullable = true)
 |-- open: decimal(15,10) (nullable = true)
 |-- close: decimal(15,10) (nullable = true)
 |-- low: decimal(15,10) (nullable = true)
 |-- high: decimal(15,10) (nullable = true)
 |-- volume: integer (nullable = true)
 |-- country: string (nullable = true)

Information about the DataFrame - Schema: None

In [53]:
print('Number of rows & columns in dataframe: ', (df1_nyse.count(), len(df1_nyse.columns)))
print("Number of distinct symbols (Companies): ", df1_nyse.select("symbol").distinct().count())

Number of rows & columns in dataframe:  (849125, 8)
Number of distinct symbols (Companies):  498

In [54]:
# Explore the dataframe
print("First 15 rows of the dataframe:\n", df1_nyse.show(15))

+----------+------+--------------+--------------+--------------+--------------+---------+-----------+
|      date|symbol|          open|         close|           low|          high|   volume|    country|
+----------+------+--------------+--------------+--------------+--------------+---------+-----------+
|2010-01-04|     A| 31.3899990000| 31.3000010000| 31.1300000000| 31.6300010000|  3815500|USA\r      |
|2010-01-04|   AAL|  4.8400000000|  4.7700000000|  4.6600000000|  4.9400000000|  9837300|USA\r      |
|2010-01-04|   AAP| 40.7000010000| 40.3800010000| 40.3600010000| 41.0400010000|  1701700|USA\r      |
|2010-01-04|  AAPL|213.4299980000|214.0099980000|212.3800010000|214.4999960000|123432400|USA\r      |
|2010-01-04|   ABC| 26.2900010000| 26.6299990000| 26.1399990000| 26.6900010000|  2455900|USA\r      |
|2010-01-04|   ABT| 54.1899530000| 54.4599510000| 53.9199510000| 54.5599540000| 10829000|USA\r      |
|2010-01-04|   ACN| 41.5200000000| 42.0700000000| 41.5000000000| 42.2000010000|  3650100|USA\r      |
|2010-01-04|  ADBE| 36.6500020000| 37.0900000000| 36.6500020000| 37.2999990000|  4710200|USA\r      |
|2010-01-04|   ADI| 31.7900010000| 31.6700000000| 31.6100010000| 32.1899990000|  2102700|USA\r      |
|2010-01-04|   ADM| 31.4800000000| 31.4699990000| 31.3300000000| 31.8400000000|  3472500|USA\r      |
|2010-01-04|   ADP| 43.5400000000| 42.8300020000| 42.7000020000| 43.5400000000|  3930100|USA\r      |
|2010-01-04|   ADS| 65.0000000000| 65.8899990000| 64.9599990000| 66.0000000000|   794300|USA\r      |
|2010-01-04|  ADSK| 25.6100010000| 25.6700000000| 25.6100010000| 25.8300000000|  2228600|USA\r      |
|2010-01-04|   AEE| 28.0300010000| 27.7600000000| 27.6900010000| 28.2700000000|  1299300|USA\r      |
|2010-01-04|   AEP| 35.0999980000| 34.9399990000| 34.7999990000| 36.0000000000|  4076600|USA\r      |
+----------+------+--------------+--------------+--------------+--------------+---------+-----------+
only showing top 15 rows

First 15 rows of the dataframe:
 None

In [55]:
print("country column value for 55th record:", df1_nyse.select("country").collect()[54])

country column value for 55th record: Row(country='USA\r      ')

In [56]:
# Removing the newline character (carriage return) & trimming the whitespace (leading & trailing) from the 'country' column using regexp_replace.
# Using only the trim() removes leading and trailing whitespace characters, not other whitespace characters like newline (\r)

df1_nyse = df1_nyse.withColumn("country", F.regexp_replace(F.trim(F.col("country")), "\r", ""))
print("First 15 rows of the dataframe after removing newline character from 'country' column:\n", df1_nyse.show(15))

+----------+------+--------------+--------------+--------------+--------------+---------+-------+
|      date|symbol|          open|         close|           low|          high|   volume|country|
+----------+------+--------------+--------------+--------------+--------------+---------+-------+
|2010-01-04|     A| 31.3899990000| 31.3000010000| 31.1300000000| 31.6300010000|  3815500|    USA|
|2010-01-04|   AAL|  4.8400000000|  4.7700000000|  4.6600000000|  4.9400000000|  9837300|    USA|
|2010-01-04|   AAP| 40.7000010000| 40.3800010000| 40.3600010000| 41.0400010000|  1701700|    USA|
|2010-01-04|  AAPL|213.4299980000|214.0099980000|212.3800010000|214.4999960000|123432400|    USA|
|2010-01-04|   ABC| 26.2900010000| 26.6299990000| 26.1399990000| 26.6900010000|  2455900|    USA|
|2010-01-04|   ABT| 54.1899530000| 54.4599510000| 53.9199510000| 54.5599540000| 10829000|    USA|
|2010-01-04|   ACN| 41.5200000000| 42.0700000000| 41.5000000000| 42.2000010000|  3650100|    USA|
|2010-01-04|  ADBE| 36.6500020000| 37.0900000000| 36.6500020000| 37.2999990000|  4710200|    USA|
|2010-01-04|   ADI| 31.7900010000| 31.6700000000| 31.6100010000| 32.1899990000|  2102700|    USA|
|2010-01-04|   ADM| 31.4800000000| 31.4699990000| 31.3300000000| 31.8400000000|  3472500|    USA|
|2010-01-04|   ADP| 43.5400000000| 42.8300020000| 42.7000020000| 43.5400000000|  3930100|    USA|
|2010-01-04|   ADS| 65.0000000000| 65.8899990000| 64.9599990000| 66.0000000000|   794300|    USA|
|2010-01-04|  ADSK| 25.6100010000| 25.6700000000| 25.6100010000| 25.8300000000|  2228600|    USA|
|2010-01-04|   AEE| 28.0300010000| 27.7600000000| 27.6900010000| 28.2700000000|  1299300|    USA|
|2010-01-04|   AEP| 35.0999980000| 34.9399990000| 34.7999990000| 36.0000000000|  4076600|    USA|
+----------+------+--------------+--------------+--------------+--------------+---------+-------+
only showing top 15 rows

First 15 rows of the dataframe after removing newline character from 'country' column:
 None

In [57]:
print("Last 15 rows of the dataframe after removing newline character from 'country' column:\n", df1_nyse.tail(5))

# print("Last row of the dataframe after removing newline character from 'country' column:", df1_nyse.tail(1)[0].asDict())

Last 15 rows of the dataframe after removing newline character from 'country' column:
 [Row(date=datetime.date(2016, 12, 30), symbol='YHOO', open=Decimal('38.7200010000'), close=Decimal('38.6699980000'), low=Decimal('38.4300000000'), high=Decimal('39.0000000000'), volume=6431600, country='USA'), Row(date=datetime.date(2016, 12, 30), symbol='YUM', open=Decimal('63.9300000000'), close=Decimal('63.3300020000'), low=Decimal('63.1600000000'), high=Decimal('63.9399990000'), volume=1887100, country='USA'), Row(date=datetime.date(2016, 12, 30), symbol='ZBH', open=Decimal('103.3099980000'), close=Decimal('103.1999970000'), low=Decimal('102.8499980000'), high=Decimal('103.9300000000'), volume=973800, country='USA'), Row(date=datetime.date(2016, 12, 30), symbol='ZION', open=Decimal('43.0700000000'), close=Decimal('43.0400010000'), low=Decimal('42.6899990000'), high=Decimal('43.3100010000'), volume=1938100, country='USA'), Row(date=datetime.date(2016, 12, 30), symbol='ZTS', open=Decimal('53.6399990000'), close=Decimal('53.5299990000'), low=Decimal('53.2700000000'), high=Decimal('53.7400020000'), volume=1701200, country='USA')]

In [58]:
# Total volume traded for each symbol (Company) in descending order
total_volume_desc = df1_nyse.groupBy("symbol").agg(sum("volume").alias("total_volume")).orderBy(F.desc("total_volume"))
print("Total volume traded for each symbol in descending order: ", total_volume_desc.show(30))

+------+------------+
|symbol|total_volume|
+------+------------+
|   BAC|250885842000|
|  AAPL|166025817100|
|     F| 86958719600|
|    GE| 85548026700|
|  MSFT| 80695788200|
|  INTC| 74084178800|
|  CSCO| 73979560500|
|   PFE| 65535429500|
|   HPQ| 63072337400|
|     C| 59393711100|
|    MU| 55338938000|
|  NFLX| 48251073600|
|     T| 46424074200|
|   JPM| 45932705600|
|   WFC| 45282059200|
|  EBAY| 44952852700|
|   FCX| 40659626600|
|    FB| 40327946900|
|  ORCL| 39361272500|
|  YHOO| 35185494200|
|   CHK| 34911289700|
|    RF| 33994155700|
|  FOXA| 30032646800|
|    VZ| 28986522900|
|   XOM| 28754969900|
|    KO| 28050558500|
|  AMAT| 27545989300|
|     V| 26726333500|
|   BSX| 26577688500|
| CMCSA| 26161692500|
+------+------------+
only showing top 30 rows

Total volume traded for each symbol in descending order:  None

In [59]:
date_range = df1_nyse.agg(F.min("date"), F.max("date")).collect()
print("Date range of the date column: ", date_range)

Date range of the date column:  [Row(min(date)=datetime.date(2010, 1, 4), max(date)=datetime.date(2016, 12, 30))]

#### Transform (Preprocess) the Stock data

In [60]:
# Check for null values in the columns
print("Number of null values in each column:")
df1_nyse.select([count(F.when(F.col(c).isNull(), c)).alias(c) for c in df1_nyse.columns]).show()

Number of null values in each column:
+----+------+----+-----+---+----+------+-------+
|date|symbol|open|close|low|high|volume|country|
+----+------+----+-----+---+----+------+-------+
|   0|     0|   0|    0|  0|   0|     0|      0|
+----+------+----+-----+---+----+------+-------+

In [61]:
# Sort the data by symbol and date in ascending order
df1_nyse = df1_nyse.orderBy("symbol", "date")

In [62]:
print("First 30 rows of the dataframe after sorting by symbol and date in ascending order:\n", df1_nyse.show(30))

+----------+------+-------------+-------------+-------------+-------------+--------+-------+
|      date|symbol|         open|        close|          low|         high|  volume|country|
+----------+------+-------------+-------------+-------------+-------------+--------+-------+
|2010-01-04|     A|31.3899990000|31.3000010000|31.1300000000|31.6300010000| 3815500|    USA|
|2010-01-05|     A|31.2099990000|30.9600010000|30.7600000000|31.2200010000| 4186000|    USA|
|2010-01-06|     A|30.8500010000|30.8500010000|30.7600000000|31.0000010000| 3243700|    USA|
|2010-01-07|     A|30.7800010000|30.8099990000|30.5000000000|30.8200010000| 3095100|    USA|
|2010-01-08|     A|30.6400000000|30.8000000000|30.3999990000|30.8500010000| 3733900|    USA|
|2010-01-11|     A|30.8799990000|30.8200010000|30.6700010000|31.0500000000| 4781500|    USA|
|2010-01-12|     A|30.5600010000|30.4500010000|30.2199990000|30.6500000000| 2871000|    USA|
|2010-01-13|     A|30.4699990000|30.6899990000|30.0500010000|30.7800010000| 3418900|    USA|
|2010-01-14|     A|30.5899990000|31.1500010000|30.5000000000|31.2400000000| 6163700|    USA|
|2010-01-15|     A|31.2200010000|30.4300000000|30.3299990000|31.3599990000| 4626600|    USA|
|2010-01-19|     A|30.3599990000|30.8000000000|30.3500000000|30.8300000000| 3563600|    USA|
|2010-01-20|     A|30.5300000000|30.6300010000|30.1900010000|30.6700010000| 4589000|    USA|
|2010-01-21|     A|31.0000010000|30.5200010000|30.1799990000|31.1100010000| 6081400|    USA|
|2010-01-22|     A|30.3500000000|29.1700000000|29.0900010000|30.3500000000| 4263000|    USA|
|2010-01-25|     A|29.4200010000|29.4500010000|29.2300010000|29.6500000000| 3608500|    USA|
|2010-01-26|     A|29.3699990000|29.2900000000|28.9800010000|29.5000000000| 2696800|    USA|
|2010-01-27|     A|29.2000010000|29.1700000000|28.7300000000|29.2900000000| 4362100|    USA|
|2010-01-28|     A|29.1300010000|28.6900000000|28.4899990000|29.3699990000| 4937100|    USA|
|2010-01-29|     A|28.9299990000|28.0300000000|27.9200000000|29.1700000000| 5923000|    USA|
|2010-02-01|     A|28.1599990000|29.1300010000|28.1300010000|29.3200000000| 5585400|    USA|
|2010-02-02|     A|29.2199990000|29.5000000000|29.0900010000|29.5899990000| 5884700|    USA|
|2010-02-03|     A|29.3900000000|29.5400000000|29.3600000000|29.8899990000| 6085600|    USA|
|2010-02-04|     A|29.2999990000|29.0700000000|28.9400010000|29.4500010000| 6632300|    USA|
|2010-02-05|     A|28.9100010000|29.1700000000|28.1800000000|29.2599990000| 9546600|    USA|
|2010-02-08|     A|29.2100000000|29.2000010000|29.1300010000|29.6800010000| 6924100|    USA|
|2010-02-09|     A|29.5300010000|29.4099990000|29.1800000000|29.7200000000| 5150600|    USA|
|2010-02-10|     A|29.4600010000|29.2500000000|28.8800000000|29.4900010000| 3255500|    USA|
|2010-02-11|     A|29.2500000000|29.3600000000|28.7700000000|29.6100000000| 6982400|    USA|
|2010-02-12|     A|30.6500000000|29.9800000000|29.5700010000|30.7400010000|11457800|    USA|
|2010-02-16|     A|30.2400000000|30.2499990000|29.9700010000|30.3400010000| 6559500|    USA|
+----------+------+-------------+-------------+-------------+-------------+--------+-------+
only showing top 30 rows

First 30 rows of the dataframe after sorting by symbol and date in ascending order:
 None

In [63]:
symbol_count = df1_nyse.groupBy("symbol").count().orderBy(F.desc("count"))
# print("Number of rows for each symbol in descending order: ", symbol_count.show())

# print all the symbols with the number of rows
print("All symbols with the number of rows:")
symbol_count.collect()

All symbols with the number of rows:

[Row(symbol='ALXN', count=1762),
 Row(symbol='GIS', count=1762),
 Row(symbol='K', count=1762),
 Row(symbol='LEN', count=1762),
 Row(symbol='SPGI', count=1762),
 Row(symbol='AVY', count=1762),
 Row(symbol='MMM', count=1762),
 Row(symbol='PKI', count=1762),
 Row(symbol='PPG', count=1762),
 Row(symbol='RF', count=1762),
 Row(symbol='AXP', count=1762),
 Row(symbol='CI', count=1762),
 Row(symbol='IRM', count=1762),
 Row(symbol='WEC', count=1762),
 Row(symbol='PFG', count=1762),
 Row(symbol='PM', count=1762),
 Row(symbol='SNA', count=1762),
 Row(symbol='BLK', count=1762),
 Row(symbol='EA', count=1762),
 Row(symbol='ESRX', count=1762),
 Row(symbol='OXY', count=1762),
 Row(symbol='DUK', count=1762),
 Row(symbol='ULTA', count=1762),
 Row(symbol='HAS', count=1762),
 Row(symbol='MTD', count=1762),
 Row(symbol='TROW', count=1762),
 Row(symbol='FLIR', count=1762),
 Row(symbol='MAT', count=1762),
 Row(symbol='XL', count=1762),
 Row(symbol='EMN', count=1762),
 Row(symbol='KIM', count=1762),
 Row(symbol='DGX', count=1762),
 Row(symbol='PNW', count=1762),
 Row(symbol='PRU', count=1762),
 Row(symbol='AAPL', count=1762),
 Row(symbol='ALL', count=1762),
 Row(symbol='CLX', count=1762),
 Row(symbol='CSCO', count=1762),
 Row(symbol='TSN', count=1762),
 Row(symbol='BMY', count=1762),
 Row(symbol='CMG', count=1762),
 Row(symbol='FRT', count=1762),
 Row(symbol='XOM', count=1762),
 Row(symbol='ADI', count=1762),
 Row(symbol='MCHP', count=1762),
 Row(symbol='YHOO', count=1762),
 Row(symbol='F', count=1762),
 Row(symbol='PHM', count=1762),
 Row(symbol='VNO', count=1762),
 Row(symbol='JNPR', count=1762),
 Row(symbol='ROP', count=1762),
 Row(symbol='SYY', count=1762),
 Row(symbol='TEL', count=1762),
 Row(symbol='AGN', count=1762),
 Row(symbol='CHRW', count=1762),
 Row(symbol='EQR', count=1762),
 Row(symbol='RTN', count=1762),
 Row(symbol='SPG', count=1762),
 Row(symbol='NUE', count=1762),
 Row(symbol='ZBH', count=1762),
 Row(symbol='FFIV', count=1762),
 Row(symbol='GILD', count=1762),
 Row(symbol='HOLX', count=1762),
 Row(symbol='AMGN', count=1762),
 Row(symbol='CCL', count=1762),
 Row(symbol='OKE', count=1762),
 Row(symbol='QCOM', count=1762),
 Row(symbol='ANTM', count=1762),
 Row(symbol='NOV', count=1762),
 Row(symbol='PNC', count=1762),
 Row(symbol='JPM', count=1762),
 Row(symbol='MNST', count=1762),
 Row(symbol='NTRS', count=1762),
 Row(symbol='SCG', count=1762),
 Row(symbol='CINF', count=1762),
 Row(symbol='EOG', count=1762),
 Row(symbol='PVH', count=1762),
 Row(symbol='WFC', count=1762),
 Row(symbol='FTI', count=1762),
 Row(symbol='HSY', count=1762),
 Row(symbol='SYK', count=1762),
 Row(symbol='TWX', count=1762),
 Row(symbol='HAR', count=1762),
 Row(symbol='PRGO', count=1762),
 Row(symbol='DIS', count=1762),
 Row(symbol='HAL', count=1762),
 Row(symbol='CMS', count=1762),
 Row(symbol='DHR', count=1762),
 Row(symbol='GGP', count=1762),
 Row(symbol='BSX', count=1762),
 Row(symbol='KSU', count=1762),
 Row(symbol='MUR', count=1762),
 Row(symbol='NEM', count=1762),
 Row(symbol='ACN', count=1762),
 Row(symbol='COP', count=1762),
 Row(symbol='EXPE', count=1762),
 Row(symbol='T', count=1762),
 Row(symbol='UHS', count=1762),
 Row(symbol='XRX', count=1762),
 Row(symbol='AIG', count=1762),
 Row(symbol='INTC', count=1762),
 Row(symbol='LEG', count=1762),
 Row(symbol='MRK', count=1762),
 Row(symbol='SO', count=1762),
 Row(symbol='UDR', count=1762),
 Row(symbol='WU', count=1762),
 Row(symbol='AFL', count=1762),
 Row(symbol='EMR', count=1762),
 Row(symbol='NEE', count=1762),
 Row(symbol='APH', count=1762),
 Row(symbol='PG', count=1762),
 Row(symbol='DVN', count=1762),
 Row(symbol='HP', count=1762),
 Row(symbol='EQIX', count=1762),
 Row(symbol='EXR', count=1762),
 Row(symbol='INTU', count=1762),
 Row(symbol='ROST', count=1762),
 Row(symbol='WY', count=1762),
 Row(symbol='WYN', count=1762),
 Row(symbol='MCD', count=1762),
 Row(symbol='CTAS', count=1762),
 Row(symbol='DHI', count=1762),
 Row(symbol='AME', count=1762),
 Row(symbol='GPN', count=1762),
 Row(symbol='IFF', count=1762),
 Row(symbol='BDX', count=1762),
 Row(symbol='SWN', count=1762),
 Row(symbol='PAYX', count=1762),
 Row(symbol='CSX', count=1762),
 Row(symbol='XEC', count=1762),
 Row(symbol='ADP', count=1762),
 Row(symbol='KMB', count=1762),
 Row(symbol='AAP', count=1762),
 Row(symbol='HES', count=1762),
 Row(symbol='KMX', count=1762),
 Row(symbol='LB', count=1762),
 Row(symbol='TMK', count=1762),
 Row(symbol='VZ', count=1762),
 Row(symbol='CERN', count=1762),
 Row(symbol='CL', count=1762),
 Row(symbol='LVLT', count=1762),
 Row(symbol='VRTX', count=1762),
 Row(symbol='ADM', count=1762),
 Row(symbol='FMC', count=1762),
 Row(symbol='AMT', count=1762),
 Row(symbol='DD', count=1762),
 Row(symbol='PNR', count=1762),
 Row(symbol='TXT', count=1762),
 Row(symbol='UNP', count=1762),
 Row(symbol='CA', count=1762),
 Row(symbol='SHW', count=1762),
 Row(symbol='WMB', count=1762),
 Row(symbol='DISCK', count=1762),
 Row(symbol='FLS', count=1762),
 Row(symbol='HCN', count=1762),
 Row(symbol='L', count=1762),
 Row(symbol='M', count=1762),
 Row(symbol='AVB', count=1762),
 Row(symbol='HRL', count=1762),
 Row(symbol='HUM', count=1762),
 Row(symbol='NRG', count=1762),
 Row(symbol='TRV', count=1762),
 Row(symbol='V', count=1762),
 Row(symbol='AIZ', count=1762),
 Row(symbol='COG', count=1762),
 Row(symbol='EIX', count=1762),
 Row(symbol='MKC', count=1762),
 Row(symbol='PGR', count=1762),
 Row(symbol='APC', count=1762),
 Row(symbol='FCX', count=1762),
 Row(symbol='FSLR', count=1762),
 Row(symbol='PFE', count=1762),
 Row(symbol='BBT', count=1762),
 Row(symbol='NFX', count=1762),
 Row(symbol='COH', count=1762),
 Row(symbol='DVA', count=1762),
 Row(symbol='GOOG', count=1762),
 Row(symbol='GT', count=1762),
 Row(symbol='PCAR', count=1762),
 Row(symbol='AES', count=1762),
 Row(symbol='DE', count=1762),
 Row(symbol='NFLX', count=1762),
 Row(symbol='TAP', count=1762),
 Row(symbol='COST', count=1762),
 Row(symbol='D', count=1762),
 Row(symbol='ES', count=1762),
 Row(symbol='IR', count=1762),
 Row(symbol='MO', count=1762),
 Row(symbol='O', count=1762),
 Row(symbol='PCG', count=1762),
 Row(symbol='UNH', count=1762),
 Row(symbol='BXP', count=1762),
 Row(symbol='IBM', count=1762),
 Row(symbol='OMC', count=1762),
 Row(symbol='COF', count=1762),
 Row(symbol='LLL', count=1762),
 Row(symbol='BWA', count=1762),
 Row(symbol='CELG', count=1762),
 Row(symbol='ETFC', count=1762),
 Row(symbol='LKQ', count=1762),
 Row(symbol='JNJ', count=1762),
 Row(symbol='IVZ', count=1762),
 Row(symbol='RHI', count=1762),
 Row(symbol='ALB', count=1762),
 Row(symbol='CAG', count=1762),
 Row(symbol='CVX', count=1762),
 Row(symbol='FOXA', count=1762),
 Row(symbol='TSCO', count=1762),
 Row(symbol='ISRG', count=1762),
 Row(symbol='PDCO', count=1762),
 Row(symbol='PLD', count=1762),
 Row(symbol='C', count=1762),
 Row(symbol='CNP', count=1762),
 Row(symbol='KR', count=1762),
 Row(symbol='EXC', count=1762),
 Row(symbol='MMC', count=1762),
 Row(symbol='NSC', count=1762),
 Row(symbol='FISV', count=1762),
 Row(symbol='VMC', count=1762),
 Row(symbol='CHD', count=1762),
 Row(symbol='CXO', count=1762),
 Row(symbol='EXPD', count=1762),
 Row(symbol='GLW', count=1762),
 Row(symbol='JEC', count=1762),
 Row(symbol='LH', count=1762),
 Row(symbol='SNI', count=1762),
 Row(symbol='UAL', count=1762),
 Row(symbol='CMI', count=1762),
 Row(symbol='ATVI', count=1762),
 Row(symbol='AYI', count=1762),
 Row(symbol='TGT', count=1762),
 Row(symbol='KLAC', count=1762),
 Row(symbol='SWK', count=1762),
 Row(symbol='TJX', count=1762),
 Row(symbol='AEP', count=1762),
 Row(symbol='FTR', count=1762),
 Row(symbol='AWK', count=1762),
 Row(symbol='DTE', count=1762),
 Row(symbol='PCLN', count=1762),
 Row(symbol='UNM', count=1762),
 Row(symbol='BK', count=1762),
 Row(symbol='DFS', count=1762),
 Row(symbol='ADS', count=1762),
 Row(symbol='FOX', count=1762),
 Row(symbol='NOC', count=1762),
 Row(symbol='FIS', count=1762),
 Row(symbol='ROK', count=1762),
 Row(symbol='ESS', count=1762),
 Row(symbol='PBI', count=1762),
 Row(symbol='A', count=1762),
 Row(symbol='TDC', count=1762),
 Row(symbol='DAL', count=1762),
 Row(symbol='GOOGL', count=1762),
 Row(symbol='LLTC', count=1762),
 Row(symbol='AON', count=1762),
 Row(symbol='BBY', count=1762),
 Row(symbol='CCI', count=1762),
 Row(symbol='ITW', count=1762),
 Row(symbol='PX', count=1762),
 Row(symbol='SRCL', count=1762),
 Row(symbol='MAR', count=1762),
 Row(symbol='SWKS', count=1762),
 Row(symbol='RSG', count=1762),
 Row(symbol='WMT', count=1762),
 Row(symbol='LOW', count=1762),
 Row(symbol='ADSK', count=1762),
 Row(symbol='NDAQ', count=1762),
 Row(symbol='SPLS', count=1762),
 Row(symbol='BAC', count=1762),
 Row(symbol='ICE', count=1762),
 Row(symbol='LRCX', count=1762),
 Row(symbol='MON', count=1762),
 Row(symbol='AAL', count=1762),
 Row(symbol='DISCA', count=1762),
 Row(symbol='RCL', count=1762),
 Row(symbol='DG', count=1762),
 Row(symbol='DPS', count=1762),
 Row(symbol='BA', count=1762),
 Row(symbol='DOW', count=1762),
 Row(symbol='FE', count=1762),
 Row(symbol='HCP', count=1762),
 Row(symbol='APA', count=1762),
 Row(symbol='HSIC', count=1762),
 Row(symbol='MTB', count=1762),
 Row(symbol='TGNA', count=1762),
 Row(symbol='BCR', count=1762),
 Row(symbol='CAH', count=1762),
 Row(symbol='FDX', count=1762),
 Row(symbol='WDC', count=1762),
 Row(symbol='HD', count=1762),
 Row(symbol='TXN', count=1762),
 Row(symbol='AVGO', count=1762),
 Row(symbol='HRB', count=1762),
 Row(symbol='STX', count=1762),
 Row(symbol='EQT', count=1762),
 Row(symbol='SCHW', count=1762),
 Row(symbol='XRAY', count=1762),
 Row(symbol='AMAT', count=1762),
 Row(symbol='ETN', count=1762),
 Row(symbol='LMT', count=1762),
 Row(symbol='SE', count=1762),
 Row(symbol='UAA', count=1762),
 Row(symbol='AMP', count=1762),
 Row(symbol='LUK', count=1762),
 Row(symbol='PH', count=1762),
 Row(symbol='R', count=1762),
 Row(symbol='EBAY', count=1762),
 Row(symbol='FITB', count=1762),
 Row(symbol='RHT', count=1762),
 Row(symbol='AET', count=1762),
 Row(symbol='EW', count=1762),
 Row(symbol='GE', count=1762),
 Row(symbol='IDXX', count=1762),
 Row(symbol='LNT', count=1762),
 Row(symbol='RL', count=1762),
 Row(symbol='TIF', count=1762),
 Row(symbol='HPQ', count=1762),
 Row(symbol='PSA', count=1762),
 Row(symbol='SBUX', count=1762),
 Row(symbol='HBAN', count=1762),
 Row(symbol='VRSK', count=1762),
 Row(symbol='CNC', count=1762),
 Row(symbol='MOS', count=1762),
 Row(symbol='MU', count=1762),
 Row(symbol='AMG', count=1762),
 Row(symbol='CTL', count=1762),
 Row(symbol='IPG', count=1762),
 Row(symbol='MJN', count=1762),
 Row(symbol='DLTR', count=1762),
 Row(symbol='GD', count=1762),
 Row(symbol='MAC', count=1762),
 Row(symbol='CTSH', count=1762),
 Row(symbol='KSS', count=1762),
 Row(symbol='CMCSA', count=1762),
 Row(symbol='ETR', count=1762),
 Row(symbol='KEY', count=1762),
 Row(symbol='MAS', count=1762),
 Row(symbol='ORLY', count=1762),
 Row(symbol='XLNX', count=1762),
 Row(symbol='COL', count=1762),
 Row(symbol='HBI', count=1762),
 Row(symbol='JBHT', count=1762),
 Row(symbol='LNC', count=1762),
 Row(symbol='VIAB', count=1762),
 Row(symbol='BAX', count=1762),
 Row(symbol='NTAP', count=1762),
 Row(symbol='PEG', count=1762),
 Row(symbol='PXD', count=1762),
 Row(symbol='RRC', count=1762),
 Row(symbol='ABT', count=1762),
 Row(symbol='BBBY', count=1762),
 Row(symbol='CHK', count=1762),
 Row(symbol='ARNC', count=1762),
 Row(symbol='DLR', count=1762),
 Row(symbol='CAT', count=1762),
 Row(symbol='RIG', count=1762),
 Row(symbol='ORCL', count=1762),
 Row(symbol='PBCT', count=1762),
 Row(symbol='MLM', count=1762),
 Row(symbol='URI', count=1762),
 Row(symbol='AJG', count=1762),
 Row(symbol='CB', count=1762),
 Row(symbol='MHK', count=1762),
 Row(symbol='PPL', count=1762),
 Row(symbol='REGN', count=1762),
 Row(symbol='JCI', count=1762),
 Row(symbol='NBL', count=1762),
 Row(symbol='SEE', count=1762),
 Row(symbol='SJM', count=1762),
 Row(symbol='HRS', count=1762),
 Row(symbol='SLB', count=1762),
 Row(symbol='STI', count=1762),
 Row(symbol='STZ', count=1762),
 Row(symbol='CPB', count=1762),
 Row(symbol='IP', count=1762),
 Row(symbol='LLY', count=1762),
 Row(symbol='NKE', count=1762),
 Row(symbol='APD', count=1762),
 Row(symbol='WBA', count=1762),
 Row(symbol='SYMC', count=1762),
 Row(symbol='VFC', count=1762),
 Row(symbol='EFX', count=1762),
 Row(symbol='SRE', count=1762),
 Row(symbol='VTR', count=1762),
 Row(symbol='WAT', count=1762),
 Row(symbol='GS', count=1762),
 Row(symbol='UTX', count=1762),
 Row(symbol='AKAM', count=1762),
 Row(symbol='EL', count=1762),
 Row(symbol='DNB', count=1762),
 Row(symbol='MA', count=1762),
 Row(symbol='WFM', count=1762),
 Row(symbol='ABC', count=1762),
 Row(symbol='FLR', count=1762),
 Row(symbol='AN', count=1762),
 Row(symbol='NI', count=1762),
 Row(symbol='SIG', count=1762),
 Row(symbol='NWL', count=1762),
 Row(symbol='VRSN', count=1762),
 Row(symbol='AZO', count=1762),
 Row(symbol='TSO', count=1762),
 Row(symbol='ZION', count=1762),
 Row(symbol='GPS', count=1762),
 Row(symbol='HIG', count=1762),
 Row(symbol='MET', count=1762),
 Row(symbol='AEE', count=1762),
 Row(symbol='BLL', count=1762),
 Row(symbol='CMA', count=1762),
 Row(symbol='DRI', count=1762),
 Row(symbol='FL', count=1762),
 Row(symbol='HOG', count=1762),
 Row(symbol='MSI', count=1762),
 Row(symbol='SLG', count=1762),
 Row(symbol='ALK', count=1762),
 Row(symbol='AMZN', count=1762),
 Row(symbol='MCK', count=1762),
 Row(symbol='BIIB', count=1762),
 Row(symbol='MSFT', count=1762),
 Row(symbol='USB', count=1762),
 Row(symbol='VAR', count=1762),
 Row(symbol='VLO', count=1762),
 Row(symbol='WM', count=1762),
 Row(symbol='DOV', count=1762),
 Row(symbol='HST', count=1762),
 Row(symbol='MDLZ', count=1762),
 Row(symbol='ED', count=1762),
 Row(symbol='HON', count=1762),
 Row(symbol='MAA', count=1762),
 Row(symbol='CRM', count=1762),
 Row(symbol='ADBE', count=1762),
 Row(symbol='BHI', count=1762),
 Row(symbol='COO', count=1762),
 Row(symbol='ECL', count=1762),
 Row(symbol='YUM', count=1762),
 Row(symbol='CF', count=1762),
 Row(symbol='FAST', count=1762),
 Row(symbol='MDT', count=1762),
 Row(symbol='MYL', count=1762),
 Row(symbol='WYNN', count=1762),
 Row(symbol='RAI', count=1762),
 Row(symbol='CTXS', count=1762),
 Row(symbol='GRMN', count=1762),
 Row(symbol='JWN', count=1762),
 Row(symbol='GPC', count=1762),
 Row(symbol='MCO', count=1762),
 Row(symbol='PWR', count=1762),
 Row(symbol='UPS', count=1762),
 Row(symbol='KO', count=1762),
 Row(symbol='WHR', count=1762),
 Row(symbol='PEP', count=1762),
 Row(symbol='NVDA', count=1762),
 Row(symbol='TSS', count=1762),
 Row(symbol='GWW', count=1762),
 Row(symbol='ILMN', count=1762),
 Row(symbol='XEL', count=1762),
 Row(symbol='CME', count=1762),
 Row(symbol='CBS', count=1762),
 Row(symbol='ENDP', count=1762),
 Row(symbol='URBN', count=1762),
 Row(symbol='BEN', count=1762),
 Row(symbol='CBG', count=1762),
 Row(symbol='CVS', count=1762),
 Row(symbol='LUV', count=1762),
 Row(symbol='MRO', count=1762),
 Row(symbol='STT', count=1762),
 Row(symbol='TMO', count=1762),
 Row(symbol='CHTR', count=1761),
 Row(symbol='LYB', count=1683),
 Row(symbol='GM', count=1540),
 Row(symbol='KORS', count=1008),
 Row(symbol='NLSN', count=1008),
 Row(symbol='MPC', count=1008),
 Row(symbol='ABBV', count=1008),
 Row(symbol='TDG', count=1008),
 Row(symbol='FB', count=1008),
 Row(symbol='XYL', count=1008),
 Row(symbol='KMI', count=1008),
 Row(symbol='TRIP', count=1008),
 Row(symbol='DLPH', count=1008),
 Row(symbol='FBHS', count=1008),
 Row(symbol='PSX', count=1008),
 Row(symbol='HCA', count=1008),
 Row(symbol='ZTS', count=987),
 Row(symbol='COTY', count=896),
 Row(symbol='MNK', count=894),
 Row(symbol='NWS', count=892),
 Row(symbol='NWSA', count=892),
 Row(symbol='EVHC', count=853),
 Row(symbol='ALLE', count=786),
 Row(symbol='QRVO', count=504),
 Row(symbol='SYF', count=504),
 Row(symbol='CFG', count=504),
 Row(symbol='NAVI', count=504),
 Row(symbol='WRK', count=385),
 Row(symbol='PYPL', count=378),
 Row(symbol='KHC', count=378),
 Row(symbol='HPE', count=304),
 Row(symbol='CSRA', count=284)]

In [64]:
# Drop all the symbols with less than 1000 rows from the dataframe df1_nyse
symbols_to_drop = symbol_count.filter("count < 1000").select("symbol").collect()
print("Symbols to drop:", symbols_to_drop)

# Count the number of symbols and total rows will be dropped from the dataframe
print("Number of symbols to drop:", len(symbols_to_drop))
print("Total rows to be dropped:", symbol_count.filter("count < 1000").select("count").agg(sum("count")).collect()[0][0])

Symbols to drop: [Row(symbol='ZTS'), Row(symbol='COTY'), Row(symbol='MNK'), Row(symbol='NWS'), Row(symbol='NWSA'), Row(symbol='EVHC'), Row(symbol='ALLE'), Row(symbol='QRVO'), Row(symbol='SYF'), Row(symbol='CFG'), Row(symbol='NAVI'), Row(symbol='WRK'), Row(symbol='PYPL'), Row(symbol='KHC'), Row(symbol='HPE'), Row(symbol='CSRA')]
Number of symbols to drop: 16
Total rows to be dropped: 9945

In [65]:
print("Number of rows & columns in the dataframe before dropping the symbols with less than 1000 rows: ", (df1_nyse.count(), len(df1_nyse.columns)))
df1_nyse = df1_nyse.filter(~df1_nyse.symbol.isin([symbol.symbol for symbol in symbols_to_drop]))
print("Number of rows & columns in the dataframe after dropping the symbols with less than 1000 rows: ", (df1_nyse.count(), len(df1_nyse.columns)))

Number of rows & columns in the dataframe before dropping the symbols with less than 1000 rows:  (849125, 8)
Number of rows & columns in the dataframe after dropping the symbols with less than 1000 rows:  (839180, 8)

In [66]:
# - - -Load the data from the dataframe df1_nyse to MariaDB table stock_prices_nyse_transformed

# Write data to MariaDB using JDBC with properties dictionary
df1_nyse.write.format("jdbc") \
    .option("url", jdbc_url) \
    .option("dbtable", "stock_prices_nyse_transformed") \
    .option("user", db_properties['user']) \
    .option("password", db_properties['password']) \
    .option("driver", db_properties['driver']) \
    .mode("overwrite") \
    .save()

print("Data written to MariaDB table stock_prices_nyse_transformed")

Data written to MariaDB table stock_prices_nyse_transformed

In [67]:
# print("Stopping the Spark session", spark_session.stop())

### Upload the Transformed data to Azure SQL Database

In [68]:
# # - - - Spark session creation - with JDBC driver path configuration
# 
# # Application details
# appName = "App2 A1~: Upload data into Azure SQL Database"
# master = "local"
# jdbc_driver_path = "E:/Software_Lenovo/Development_Softwares/MariaDB_Spark/Microsoft JDBC Driver for SQL Server/sqljdbc_12.6.3.0_enu/sqljdbc_12.6/enu/jars/mssql-jdbc-12.6.3.jre8.jar"
# 
# # Create Spark session
# spark_session = SparkSession.builder \
#     .appName(appName) \
#     .master(master) \
#     .config("spark.driver.extraClassPath", jdbc_driver_path) \
#     .getOrCreate()
# 
# print("Details of the Spark session:")
# print("Spark:", spark_session, "\n", "Spark version:", spark_session.version, "\n", "SparkContext:", spark_session.sparkContext, "\n", "SparkContext version:", spark_session.sparkContext.version)

In [69]:
# Now I want to upload the transformed data to Azure SQL Database. 
# I have the following details for the Azure SQL Database:

# server name: alinizarserver1.database.windows.net

# connection string:
# jdbc:sqlserver://alinizarserver1.database.windows.net:1433;database=myfirstdatabase;user=azureuser@alinizarserver1;password={your_password_here};encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;

# UserName : azureuser
# Password : Ilove85workWonder69

# Give me the steps to upload the data to Azure SQL Database based on the information that I have.
# The steps are as follows:
# 1. Create a new JDBC connection to the Azure SQL Database.
# 2. Write the transformed data to the Azure SQL Database table.
# 3. Verify the data in the Azure SQL Database table.

# - - - Write the transformed data to Azure SQL Database table stock_prices_nyse_transformed

# JDBC connection details (Parameters)
server = "alinizarserver1.database.windows.net"
port = 1433
database = "myfirstdatabase"

db_azure_properties = {
    "user": "azureuser@alinizarserver1",
    "password": "Ilove85workWonder69",
    "driver": "com.microsoft.sqlserver.jdbc.SQLServerDriver"
}


# jdbc_url_azure = f"jdbc:sqlserver://{server}.database.windows.net:{port};database={database};user={db_azure_properties['user']};password={db_azure_properties['password']};encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;"

jdbc_url_azure = "jdbc:sqlserver://alinizarserver1.database.windows.net:1433;database=myfirstdatabase;user=azureuser@alinizarserver1;password=Ilove85workWonder69;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;"

In [70]:
# Write data to Azure SQL Database using JDBC with properties dictionary
df1_nyse.write.format("jdbc") \
    .option("url", jdbc_url_azure) \
    .option("dbtable", "stock_prices_nyse_transformed") \
    .option("user", db_azure_properties['user']) \
    .option("password", db_azure_properties['password']) \
    .option("driver", db_azure_properties['driver']) \
    .mode("overwrite") \
    .save()

print("Data written into the table stock_prices_nyse_transformed of Azure SQL Database")

Data written into the table stock_prices_nyse_transformed of Azure SQL Database

In [71]:
# Verify the data in the Azure SQL Database table
df2_azure = spark_session.read.format("jdbc") \
    .option("url", jdbc_url_azure) \
    .option("dbtable", "stock_prices_nyse_transformed") \
    .option("user", db_azure_properties['user']) \
    .option("password", db_azure_properties['password']) \
    .option("driver", db_azure_properties['driver']) \
    .load()

print("Data read from Azure SQL Database table stock_prices_nyse_transformed")

print("Schema of the dataframe read from Azure SQL Database table stock_prices_nyse_transformed:\n", df2_azure.printSchema())

Data read from Azure SQL Database table stock_prices_nyse_transformed
root
 |-- date: date (nullable = true)
 |-- symbol: string (nullable = true)
 |-- open: decimal(15,10) (nullable = true)
 |-- close: decimal(15,10) (nullable = true)
 |-- low: decimal(15,10) (nullable = true)
 |-- high: decimal(15,10) (nullable = true)
 |-- volume: integer (nullable = true)
 |-- country: string (nullable = true)

Schema of the dataframe read from Azure SQL Database table stock_prices_nyse_transformed:
 None
+----------+------+-------------+-------------+-------------+-------------+-------+-------+
|      date|symbol|         open|        close|          low|         high| volume|country|
+----------+------+-------------+-------------+-------------+-------------+-------+-------+
|2010-01-04|     A|31.3899990000|31.3000010000|31.1300000000|31.6300010000|3815500|    USA|
|2010-01-05|     A|31.2099990000|30.9600010000|30.7600000000|31.2200010000|4186000|    USA|
|2010-01-06|     A|30.8500010000|30.8500010000|30.7600000000|31.0000010000|3243700|    USA|
|2010-01-07|     A|30.7800010000|30.8099990000|30.5000000000|30.8200010000|3095100|    USA|
|2010-01-08|     A|30.6400000000|30.8000000000|30.3999990000|30.8500010000|3733900|    USA|
|2010-01-11|     A|30.8799990000|30.8200010000|30.6700010000|31.0500000000|4781500|    USA|
|2010-01-12|     A|30.5600010000|30.4500010000|30.2199990000|30.6500000000|2871000|    USA|
|2010-01-13|     A|30.4699990000|30.6899990000|30.0500010000|30.7800010000|3418900|    USA|
|2010-01-14|     A|30.5899990000|31.1500010000|30.5000000000|31.2400000000|6163700|    USA|
|2010-01-15|     A|31.2200010000|30.4300000000|30.3299990000|31.3599990000|4626600|    USA|
|2010-01-19|     A|30.3599990000|30.8000000000|30.3500000000|30.8300000000|3563600|    USA|
|2010-01-20|     A|30.5300000000|30.6300010000|30.1900010000|30.6700010000|4589000|    USA|
|2010-01-21|     A|31.0000010000|30.5200010000|30.1799990000|31.1100010000|6081400|    USA|
|2010-01-22|     A|30.3500000000|29.1700000000|29.0900010000|30.3500000000|4263000|    USA|
|2010-01-25|     A|29.4200010000|29.4500010000|29.2300010000|29.6500000000|3608500|    USA|
+----------+------+-------------+-------------+-------------+-------------+-------+-------+
only showing top 15 rows

First 15 rows of the dataframe read from Azure SQL Database table stock_prices_nyse_transformed:
 None

In [73]:
print("First 15 rows of the dataframe read from Azure SQL Database table stock_prices_nyse_transformed:\n", df2_azure.show(15))

+----------+------+-------------+-------------+-------------+-------------+-------+-------+
|      date|symbol|         open|        close|          low|         high| volume|country|
+----------+------+-------------+-------------+-------------+-------------+-------+-------+
|2010-01-04|     A|31.3899990000|31.3000010000|31.1300000000|31.6300010000|3815500|    USA|
|2010-01-05|     A|31.2099990000|30.9600010000|30.7600000000|31.2200010000|4186000|    USA|
|2010-01-06|     A|30.8500010000|30.8500010000|30.7600000000|31.0000010000|3243700|    USA|
|2010-01-07|     A|30.7800010000|30.8099990000|30.5000000000|30.8200010000|3095100|    USA|
|2010-01-08|     A|30.6400000000|30.8000000000|30.3999990000|30.8500010000|3733900|    USA|
|2010-01-11|     A|30.8799990000|30.8200010000|30.6700010000|31.0500000000|4781500|    USA|
|2010-01-12|     A|30.5600010000|30.4500010000|30.2199990000|30.6500000000|2871000|    USA|
|2010-01-13|     A|30.4699990000|30.6899990000|30.0500010000|30.7800010000|3418900|    USA|
|2010-01-14|     A|30.5899990000|31.1500010000|30.5000000000|31.2400000000|6163700|    USA|
|2010-01-15|     A|31.2200010000|30.4300000000|30.3299990000|31.3599990000|4626600|    USA|
|2010-01-19|     A|30.3599990000|30.8000000000|30.3500000000|30.8300000000|3563600|    USA|
|2010-01-20|     A|30.5300000000|30.6300010000|30.1900010000|30.6700010000|4589000|    USA|
|2010-01-21|     A|31.0000010000|30.5200010000|30.1799990000|31.1100010000|6081400|    USA|
|2010-01-22|     A|30.3500000000|29.1700000000|29.0900010000|30.3500000000|4263000|    USA|
|2010-01-25|     A|29.4200010000|29.4500010000|29.2300010000|29.6500000000|3608500|    USA|
+----------+------+-------------+-------------+-------------+-------------+-------+-------+
only showing top 15 rows

First 15 rows of the dataframe read from Azure SQL Database table stock_prices_nyse_transformed:
 None

In [74]:
print("Total number of rows in the dataframe read from Azure SQL Database table stock_prices_nyse_transformed: ", df2_azure.count())

Total number of rows in the dataframe read from Azure SQL Database table stock_prices_nyse_transformed:  839180

In [75]:
print("Stopping the Spark session", spark_session.stop())

Stopping the Spark session None